<!DOCTYPE html>
<html lang="en">
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <head>
    <meta charset="UTF-8" />
    <title>Reminders MVP</title>
  </head>
  <body>
    <h1>Inventory Tracker</h1>

    <h2>Create Inventory Item</h2>
    <form action="/inventory" method="POST">
      <input type="text" placeholder="name" name="name" required/>
      <input type="text" placeholder="info" name="info" />
      <input type="text" placeholder="quantity" name="quantity" />
      <button type="submit">Submit</button>
    </form>

    <h2>Current Inventory</h2>
    <table class="inventory">
      <tr>
        <th>Name</th>
        <th>Info</th>
        <th>Quantity</th>
        <th>New Name</th>
        <th>New Info</th>
        <th>New Quantity</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% for(var i = 0; i < inventory.length; i++) {%>
      <tr class="inventory-item">
        <td><%= inventory[i].name %></td>
        <td><%= inventory[i].info %></td>
        <td><%= inventory[i].quantity %></td>

        <form action="/inventory/<%= inventory[i].name %>" method="POST">
          <td>
            <input type="text" placeholder="new name" name="name" required/>
          </td>
          <td>
            <input type="text" placeholder="new info" name="info" />
          </td>
          <td>
            <input type="text" placeholder="new quantity" name="quantity" />
          </td>
          <td>
            <button type="submit">Update</button>
          </td>
        </form>
        <form action="/inventory/delete/<%= inventory[i].name %>" method="POST">
          <td><button type="submit">Delete</button></td>
        </form>
      </tr>
      <% } %>
    </table>
    

    <form action="/inventory/csv/export" method="GET">
        <td><button type="submit">Export to CSV</button></td>
      </form>

  </body>
</html>
